<!DOCTYPE html>
<html>
  <head>
    <title>Charity List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <h1>Charity List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < charitylist.length; i++) {
          list += '<li><a href= "mailto:charitylist[i].email">' + charitylist[i].charityname + '</a></li>';
        }
      %>
      <%- list %>
    </ul>

    
  </body>
</html>
